@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: auto;


    background: #01080E;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Chakra Petch", sans-serif;

}

main {
    max-width: 550px;
}

h1,
h2 {
    margin: 32px 0
}
#h1Print {
    display: none;
}

form {
    min-width: 510px;
    display: flex;
    gap: 12px;
}

input {
    height: 50px;
    width: 400px;
    border-radius: 5px;
    background-color: #01080E;
    padding-left: 10px;
    padding-right: 15px;
    font-size: 16px;
    color: #fff;
    box-shadow: #121412;
    border: 1px solid #2BDEFD;


}

input::placeholder {
    color: #2BDEFD;
}

.button {
    background-color: #2bfdbe;
    width: 150px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    color: #01080e;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #2bfdbe;
}

.button:hover {
    background-color: #fff;
    transition: 0.2s;

}

ul {
    margin-top: 30px;
}

.timeline {
    display: flex;
    list-style: none;
    background-color: #021017;
    min-height: 50px;
    height: auto;
    margin-top: 15px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #011522;
}

.timeline span {
    margin: 10px 0;
    text-align: justify;
    padding: 10px 20px;

}

.hide {
    display: none;
}

.input-error,
.input-error:focus {
    border-color: #e21a43;
}

footer {
    display: flex;
    background-color: #021017;
    height: 60px;
    width: 100vw;
    color: #474747;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    font-size: smaller;

}

#footerPrint {
    display: none;
}